<!DOCTYPE html><html lang="en">
<head>
    <title>{{ title }} | Querist</title>
    <meta charset="utf-8"/>
</head>
<body>
<div class="container-fluid">
    <div class="header">
        <header>Querist</header>
        <br/>
        {% if greeting %}
        <h2>{{ greeting }}. Welcome to Querist!</h2>
        {% endif %}
    </div>
    <div id="navbar">
    <ul>
        <li><a href="{{ url_for('index') }}">Home</a></li>
        <li><a href="{{ url_for('login') }}">Log In</a></li>
        <li><a href="{{ url_for('signup') }}">Get Started</a></li>
    </ul>
    </div>
    <div class="main">
        {% block user_type_select %}{% endblock %}
        {% block signup %}{% endblock %}
        {% block login %}{% endblock %}
    </div>

    <div class="footer" style="margin-top:30%;">
        <footer class="footer">
            Made with &lt;/&gt; by Roshan Sharma
        </footer>
    </div>
</div>
</body>
</html>