{% extends "index.html" %}

{% block login %}

	{% if errmsg %}
	<div class="alert alert-danger">
	    {{ errmsg }}
	</div>
	{% endif %}
	<div id="login-form">
		<form action="{{ url_for('login_student') }}" method="POST">
			{% if persist_uname %}
                <input type="text" name="username" value="{{ persist_uname }}"/><br/>
            {% else %}
                <input type="text" name="username" placeholder="Username"/><br/>
            {% endif %}            
			<input type="password" name="passwd" placeholder="Password" /><br/>
			<input type="submit" value="Proceed">
		</form>
	</div>

{% endblock %}