{% extends "index.html" %}

{% block user_type_select %}
<div id="category-choose">
	<h2>Log In an existing account</h2>
	<a href="{{ url_for('login_student') }}">
		<button>I am a student</button>
	</a>
	<a href="{{ url_for('login_teacher') }}">
		<button>I am a teacher</button>
	</a>
	<div id="bottom-msg">
		<span>Don't have an account?</span>
		<a href="{{ url_for('signup') }}">
			Get started!
		</a>
	</div>
</div>
{% endblock %}