{% extends "index.html" %}

{% block user_type_select %}
<div id="category-choose">
	<h2>Create a free account</h2>
	<a href="{{ url_for('signup_student') }}">
		<button>I am a student</button>
	</a>
	<a href="{{ url_for('signup_teacher') }}">
		<button>I am a teacher</button>
	</a>
	<div id="bottom-msg">
		<span>Already have an account?</span>
		<a href="{{ url_for('login') }}">
			Log In instead!
		</a>
	</div>
</div>
{% endblock %}