{% extends "index.html" %}

{% block signup %}
    {% if errmsg %}
    <div class="alert alert-danger">
        {{ errmsg }}
    </div>
    {% endif %}
    <div id="signup-form" class="some-bootstrap-class">
        <form action="{{ url_for('signup_student') }}" method="POST">
            <input type="text" name="name" placeholder="Your full name"/><br/>
            <input type="text" name="institute" placeholder="Your institute"/><br/>
            <input type="email" name="email" placeholder="Your mailing address.."/><br/>
            <input type="text" name="username" placeholder="Set a username"/><br/>
            <input type="password" name="passwd" placeholder="Set a password"/><br/>
            <input type="password" name="passwd-conf" placeholder="Confirm password"/><br/>
            <input type="submit" value="Proceed"/>
        </form>
    </div>
{% endblock %}