<!DOCTYPE html><html lang="en">
<head>
    <title>{{ title }} | Querist</title>
    <meta charset="utf-8"/>
</head>
<body>
<div class="container-fluid">
    <div class="header">
        <header>Querist</header>
        <br/>
        {% if username %}
        <h2>Hi! @{{ username }}</h2>
        {% endif %}
    </div>
    <div id="navbar">
    <ul>
        <li><a href="#">Some</a></li>
        <li><a href="#">Links</a></li>
        <li><a href="#">Here</a></li>
        <li><a href="{{ url_for('logout') }}">LOGOUT</a></li>
    </ul>
    </div>
    <div class="main">
        {% block stuff %}{% endblock %}
    </div>

    <div class="footer" style="margin-top:30%;">
        <footer class="footer">
            Made with &lt;/&gt; by Roshan Sharma
        </footer>
    </div>
</div>
</body>
</html>